services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:17
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=vaffelbot
    volumes:
      - postgres_data:/var/lib/postgresql/data

  vaffelbot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vaffelbot
    ports:
      - 3000:3000
    environment:
      - REDIS_URL=redis://redis:6379
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/vaffelbot
      - DISCORD_TOKEN=your_discord_token_here
    depends_on:
      - redis
      - postgres
    volumes:
      - ./data:/app/data
    restart: unless-stopped

volumes:
  postgres_data:
